#navbar-header .navbar-brand{
	background-color: #ececec;
	color: #000;
	font-size: 200%;
}

.navbar#navbar-header {
	background-color: #FA940E;
	border: none;
}

#navbar-header .navbar-nav > li > a{
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

#navbar-header .navbar-nav > .active > a{
	background-color: #F77111;
}

.nav li{
	display: none;
}
